/* Colours */

$colour-dark-grey: hsl(0, 0%, 17%);
$colour-light-grey: hsl(0, 0%, 59%);

/* Font family */

$font: 'Rubik', sans-serif;

/* Font sizes */

$font-copy: 16px;
$font-heading: 32px;
$font-data: 28px;

/* Font weight */

$font-weight-small: 400;
$font-weight-medium: 500;
$font-weight-large: 700;

/* Responsive breakpoints */

$tablet: 768px;
