/* Colours */

$colour-dark-grey: hsl(0, 0%, 17%);
$colour-light-grey: hsl(0, 0%, 59%);

/* Font family */

$font: 'Rubik', sans-serif;

/* Font sizes */

$font-copy: 14px;
$font-heading: 32px;
$font-data: 28px;
$font-input: 20px;

/* Font weight */

$font-weight-small: 400;
$font-weight-medium: 500;

/* Responsive breakpoints */

$tablet: 850px;
$desktop: 1024px;

/* Colours */

$white: white;
$black: black;
$very-dark-grey: hsl(0, 0%, 17%);
$dark-grey: hsl(0, 0%, 59%);
